@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body,
html {
  height: 100%;
  width: 100%;
}
/*we create root elements to apply prefessional dev.*/
:root {
  --orange-clr: #e96c28;
  --white-clr: #fff;
  --black-clr: #000;
  --gray-clr: #636363;
  --light-gray: #c4c4c4;
  --dawn-pink: #fae7e5;
  --frosted-mint: #dcfef9;
}
::-webkit-scrollbar {
  background-color: var(--gray-clr);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange-clr);
  border-radius: 20px;
}
.container {
  width: 80%;
  margin: auto;
}
a {
  text-decoration: none;
}
span {
  color: var(--black-clr);
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  line-height: 4rem;
}
h2 {
  text-transform: capitalize;
  font-size: 2rem;
}
p {
  color: var(--gray-clr);
  margin-block: 1.5rem;
  max-width: 500px;
}
h4 {
  font-weight: 600;
}
.bg-orange {
  color: var(--orange-clr);
}
.icon-link {
  background-color: var(--orange-clr);
  color: var(--white-clr);
  display: inline-block;
  width: 2.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 0.5rem;
  text-align: center;
  line-height: 2.3rem;
  transition: 0.3s all ease-in-out;
}
.icon-link:hover {
  transform: translateY(-5px);
}
.fa-solid,
.fa-brands {
  font-size: 1.1rem;
  color: var(--white-clr);
}
button,
.form-btn {
  background-color: var(--orange-clr);
  outline: none;
  color: var(--white-clr);
  border: 0.1rem solid var(--orange-clr);
  padding: 0.55rem 1.5rem;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
button:hover,
.form-btn:hover {
  background-color: transparent;
  color: var(--orange-clr);
}
.other-section {
  padding-block: 5rem;
}
.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Header */
.logo {
  z-index: 9;
}
.logo-text {
  font-size: 1.5rem;
  color: var(--orange-clr);
  font-weight: bold;
}

.navlist {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.navlinks {
  color: var(--black-clr);
  font-weight: 500;
  transition: 0.2s all ease-in-out;
}
.active,
.navlinks:hover {
  color: var(--orange-clr);
}

header {
  height: 13vh;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.burger {
  background-color: var(--black-clr);
  width: 1.8rem;
  height: 0.2rem;
  margin: 0.3rem;
  border-radius: 2rem;
  transition: 0.3s all ease-in-out;
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger:hover .burger {
  background-color: var(--orange-clr);
}

/* Hero section */

.hero-section {
  height: calc(100vh - 13vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  flex: 1;
}
.watch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
}

[data-type="bordered-btn"] {
  background-color: transparent;
  color: var(--orange-clr);
}
.image-container {
  flex: 1;
  position: relative;
}
.image-container img {
  width: 100%;
}
.image-container::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  filter: blur(40px);
  background-color: var(--dawn-pink);
  width: 35rem;
  height: 30vh;
  border-radius: 50%;
}
.mint-glow::before {
  content: "";
  background-color: var(--frosted-mint);
  position: absolute;
  width: 20rem;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  top: -5%;
  left: -8%;
  filter: blur(100px);
}
/* Store Section */

[data-type="centered-text"] {
  text-align: center;
  max-width: 600px;
  margin-block: 0.5rem;
}
.card-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  padding-block: 2.5rem;
  transition: 0.2s all ease-in-out;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Featured Section */

.featured-card {
  padding: 0;
  overflow: hidden;
}
.image-card {
  width: 100%;
  height: 25vh;
}
.image-card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.card-detail {
  padding: 1.2rem;
}

/* App Section */

.app-img {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 4.5rem;
}
.rating {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.rating h4 {
  color: var(--orange-clr);
  font-size: 1.3rem;
}
.rating img {
  width: 6rem;
}

/* NewsLetter Section */

.form-container {
  margin-top: 1.2rem;
  border: 0.025rem solid var(--light-gray);
  height: 3.5rem;
  border-radius: 5rem;
  padding: 0.25rem;
  gap: 1rem;
}
input[type="email"] {
  height: 100%;
  border-radius: 5rem 0 0 5rem;
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
}
input:focus {
  outline: none;
}

/*Footer*/
footer {
  position: relative;
}
footer .card-container {
  align-items: flex-start;
  justify-content: space-between;
}
.footer-list {
  text-decoration: none;
  list-style: none;
  color: var(--gray-clr);
  font-size: 0.9rem;
  margin-top: 2rem;
}
.footer-list li {
  margin-block: 0.5rem;
}
.footer-list li a {
  color: var(--gray-clr);
  transition: 0.2s all ease-in-out;
}
[data-type="balanced-text"] {
  max-width: 350px;
}
.contact-icons i {
  color: var(--orange-clr);
  margin-right: 5px;
}
.footer-list li a:hover {
  color: var(--orange-clr);
}
.line {
  width: 100%;
  height: 0.05rem;
  background-color: var(--light-gray);
  margin-block: 2rem;
}
footer h4 {
  padding-bottom: 1rem;
  text-align: left;
  font-weight: 600;
}
/*Media Queries*/

@media screen and (max-width: 680px) {
  .container {
    width: 90%;
  }
  .image-container {
    display: none;
  }
  h1 {
    font-size: 2.8rem;
  }
  /*.navlist,*/
  .nav-icons {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navbar{
    position: sticky;
    background-color: var(--white-clr);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 10vh;
    padding: 1rem;
  }
  .navlist {
    position: absolute;
    top: 0;
    flex-direction: column;
    background-color: var(--dawn-pink);
    height: 100vh;
    width: 60%;
    left: 0;
    align-items: flex-start;
    padding: 6rem 0 0 3rem;
    justify-content: flex-start;
    transform: translate(-100%);
    transition: 0.4s all cubic-bezier(0.42, 0, 0, 1.06);
  }
  .navlist-active {
    transform: translate(0%);
  }
  .btn-container {
    gap: 1rem;
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }
  .other-section {
    padding-block: 2rem;
  }
  footer .card-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
  .icon-link{
    margin: .3rem;
  }

}
